*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.navbar{
    background-color: rgba(7, 7, 7, 0.3);
   padding: 23px;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-links{
    display: flex;
    list-style: none;

} 
li a{
    margin-right: 25px;
    text-decoration: none;
    font-size: 23px;
    color: white;
    font-weight: bold;
}
.logo{
    font-weight: 600;
    font-size: 36px;
}
.logo a{
      text-decoration: none;
      color: white;
}
button{
    background-color: rgba(245, 246, 247, 0.4);
     border-radius: 10px;
     padding: 12px 17px;
     border: 1px solid black;
}
button a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.textbox {
  display: flex;
  justify-content: center;
  align-items: center;    
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input {
    font-size: 23px;
    background: transparent;
     margin: 15px;
     margin-bottom: 20px;
     font-weight: bold;
     color: rgb(17, 160, 243);
    }
textarea{
    height: 150px;
    width: 1000px;
    font-size: 20px;
    background: transparent;
    color: rgb(17, 160, 243);
}    



